.aboutBook {
    position: relative;
    border-radius: 10px;
    width: 220px;
    height: 300px;
    background-color: whitesmoke;
    -webkit-box-shadow: 1px 1px 12px #000;
    box-shadow: 1px 1px 12px #000;
    -webkit-transform: preserve-3d;
    -ms-transform: preserve-3d;
    transform: preserve-3d;
    -webkit-perspective: 2000px;
    perspective: 2000px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #000;
}

.aboutCover {
    top: 0;
    position: absolute;
    background-image: url("./portrait.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform-origin: 0;
    -ms-transform-origin: 0;
    transform-origin: 0;
    -webkit-box-shadow: 1px 1px 12px #000;
    box-shadow: 1px 1px 12px #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.aboutBook:hover .aboutCover {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: rotatey(-80deg);
    -ms-transform: rotatey(-80deg);
    transform: rotatey(-80deg);
}

.aboutTitle {
    font-size: 20px;
    font-weight: bolder;
    color: red;
}

.aboutConteiner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aboutContent{
    flex-grow: 1;
    margin-left: 50px;
}

.aboutConteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aboutContent {
    flex-grow: 1;
    margin-left: 50px;
}




@media only screen and (max-width: 768px) {
    .aboutConteiner {
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center items horizontally */
    }

    .aboutContent {
        margin-left: 0; /* Remove left margin on mobile */
        margin-top: 20px; /* Add top margin on mobile */
    }

    .aboutBook {
        margin-top: 20px; /* Add top margin on mobile */
    }
}